.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-todo-container {
  margin-bottom: 20px;
  display: flex; /* Ensure items are aligned in a row */
  align-items: center; /* Center items vertically */
}

.add-todo-input {
  width: 200px;
  margin-right: 20px; /* Space between textbox and button */
}

.add-todo-button {
  margin-left: 10px; /* Add space between TextField and PrimaryButton */
}

.search-container {
  margin-bottom: 20px;
  display: flex; /* Ensure items are aligned in a row */
  align-items: center; /* Center items vertically */
}

.search-input {  
  width: 200px; 
  margin-right: 20px; /* Space between textbox and button */
}
